<h1>Grafica dinamica</h1>
<hr>


<div class="row">
   <div class="col-mg-6">
      <div style="display: block;">
         <canvas baseChart width="400" height="400"
               [datasets]="lineChartData"
               [labels]="lineChartLabels"
               [chartType]="'line'"
               ></canvas>
         </div>
   </div>
</div>